<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Multimedia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let media of mutimedia">
      <ion-thumbnail slot="start">
        <ion-img [src]="media.imageUrl" [alt]="media.description"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>Descripción: {{ media.description }}</h2>
       <ion-note slot="end">
        Creado el: {{ media.createdAt | date:'medium' }}
        </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="mutimedia.length === 0">
    <ion-label class="ion-text-center">No hay elementos multimedia guardados.</ion-label>
  </ion-item>
</ion-content>